.card {
    width: 20%;
    height: 40vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #FFD180;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center;
    transition: 0.2s ease-in-out;
}

.card:hover{
background-color: #FFAB40;
}


.card img {
    max-width: 100%;
    height: 100px;
}


.card h1 {
    font-size: 1.5rem;
    margin: 0; 
}


.card .price, .card button {
    font-size: 1rem;
    margin: 0; 
}
